<ion-header>
  <ion-toolbar class="header">
    <ion-title slot="start">{{nombre}}</ion-title>
    <ion-button slot="end" class="btn" (click)="dismiss()">Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="text-align: center;margin: 10px 0px;">Calificaciones</ion-title>
  <ion-list style="padding: 0px 20px;">
    <ion-list-header class="headerList">Calificación de Meritos</ion-list-header>

    <ion-item button lines="full" detail (click)="presentModalMeritos('Rendimiento')">
      <ion-icon class="icon" slot="start" name="document-attach-outline"></ion-icon>
      <ion-label>Rendimiento Academico</ion-label>
      <ion-label slot="end">Nota: {{notaTotalDeUsuario}} %</ion-label>
    </ion-item>

    <ion-item button lines="full" detail (click)="presentModalMeritos('Experiencia')">
      <ion-icon class="icon" slot="start" name="document-attach-outline"></ion-icon>
      <ion-label>Experiencia General</ion-label>
      <ion-label slot="end">Nota: {{puntosTotalDeUsuario}} %</ion-label>
    </ion-item>

    <h5 style="text-align: center;"class="notaFinal" >Nota Final Calificación de Meritos = {{puntosTotalDeUsuario + notaTotalDeUsuario}}</h5>
  </ion-list>
  <ion-list style="padding: 0px 20px; margin-bottom: 20px;">
    <ion-list-header class="headerList">Calificación de Conocimiento</ion-list-header>
    <ion-list-header>Item(s) en la(s) que Postula</ion-list-header>

    <ion-item button lines="full" detail *ngFor="let item of listaDeItemsInscritos"
              (click)="presentModalConocimiento(item.id_item,'Tematica',puntosTotalDeUsuario+notaTotalDeUsuario)">
      <ion-icon class="icon" slot="start" name="document-text-outline"></ion-icon>
      <ion-label>{{item.nombre_item}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
