.container{
    width: 80%;
    margin: auto;
    padding: 20px;
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerMessage{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.containerMessage ion-icon{
    color: black;
    font-size: 50px;
}