<ion-header>
  <ion-toolbar *ngFor="let convocatoria of oneConvocatory">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{convocatoria.nombre_conv}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <h1 *ngIf="hiddenMessage">{{messageEmptyList}}</h1>
    <div *ngIf="hiddenMessageOn"class="containerMessage">
      <!--<ion-icon name="person"></ion-icon>-->
      <h1 >Postulantes</h1>
    </div>
    <div class="containerCards" *ngFor="let user of listUsersConv">
      <ion-card mode="ios" color=medium>
        <ion-card-content class="display">
          <ion-text><h1>{{user.first_name}} {{user.last_namep}} {{user.last_namem}}</h1></ion-text>
          <ion-button routerLink="documentos" color="danger" (click)="enviarNombre(user)">Ver Documentos</ion-button>
        </ion-card-content>
      </ion-card>    
    </div>
  </div>
</ion-content>
