<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 *ngIf="hiddenMessage">{{messageEmptyList}}</h1>
    <div class="containerCards" *ngFor="let item of listItemsConvo">
      <ion-card mode="ios" color=medium>
        <ion-card-content class="display">
          <ion-card-title>{{item.nombre_item}}</ion-card-title>
          <ion-button routerLink="tematica" (click)="sendIdItem(item.id)" color="danger">Agregar Temática</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
