<ion-header>
  <ion-toolbar class="header">
    <ion-title slot="start">{{condicion}}</ion-title>
    <ion-button slot="end" class="btn" (click)="dismiss()">Salir</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="hiddenRendimiento" style="margin: 20px;">
    <ion-list-header class="headerList">
      <ion-label>Rendimiento</ion-label>
      <ion-label>Nota Máxima Permitida</ion-label>
      <ion-label>Nota Actual</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let dato of listaDeDatos">
      <ion-label>{{dato.nombre}}</ion-label>
      <ion-label slot="end">{{dato.puntos}} %</ion-label>
      <ion-label slot="end">{{dato.nota}} %</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="hiddenExperiencia"style="margin: 20px;">
    <ion-list-header class="headerList">
      <ion-label>Requisito</ion-label>
      <ion-label>Puntuación Total</ion-label>
    </ion-list-header>
    <div class="section" *ngFor="let requisito of listaDeReqOpcionales">
      <div class="block">
        <ion-item>
          <ion-label>{{requisito.name_req}}</ion-label>
          <ion-label slot="end">{{requisito.puntuacionTotal}}</ion-label>
        </ion-item>
      </div>
      <!--<div class="block">
        <ion-item> 
          <a href={{requisito.file_dir}} target="_blank" ><ion-label><ion-text color="primary">{{requisito.name_req}}.pdf </ion-text></ion-label></a>
        </ion-item> 
      </div>
      <div class="block">
        <ion-item>
          <ion-label>{{requisito.puntuacion}}</ion-label>
        </ion-item> 
      </div>

      <div class="block">
        <ion-item>
          <ion-input ></ion-input>
        </ion-item>
      </div>-->
    </div>
  </ion-list>

  <ion-list *ngIf="hiddenTematica"style="margin: 20px;">
    <ion-list-header class="headerList">
      <ion-label>Tematica</ion-label>
      <ion-label>Nota Máxima Permitida</ion-label>
      <ion-label>Nota Actual</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let dato of listaDeDatos">
      <ion-label>{{dato.nombre}}</ion-label>
      <ion-label slot="end">{{dato.porcentaje}}</ion-label>
      <ion-label slot="end">{{dato.nota}}</ion-label>
    </ion-item>
    <ion-list>
      <ion-list-header class="headerList">Calificación Final</ion-list-header>
      <ion-item>
        <ion-icon class="icon" slot="start"name="document-text-outline"></ion-icon>
        <ion-label>Nota Final Calificación de Conocimiento = {{notaFinalTematica}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon class="icon" slot="start"name="document-text-outline"></ion-icon>
        <ion-label>Nota Final Calificación de Meritos = {{notaMeritos}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon *ngIf="((notaMeritos+notaFinalTematica)/2)<51" slot="start" style="color: #eb445a !important;"name="close-circle-outline"></ion-icon>
        <ion-icon *ngIf="((notaMeritos+notaFinalTematica)/2)>=51" slot="start" style="color: #2dd36f !important;" name="checkmark-circle-outline"></ion-icon>
        <ion-label>Promedio General = {{(notaMeritos+notaFinalTematica)/2}}</ion-label>
        <div *ngIf="((notaMeritos+notaFinalTematica)/2)>=51">
          <ion-text color="success">!Fecidades! Aprobado</ion-text>
        </div>
        <div *ngIf="((notaMeritos+notaFinalTematica)/2)<51">
          <ion-text color="danger">Reprobado</ion-text>
        </div>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
