.header{
    --background:#233142 !important;
    --color:#ffffff !important;
    padding: 0px 20px 0px 0px;
}
.headerList{
    --background:#f73859 !important;	
    --color:#ffffff !important;
}
.icon{
    color:#455d7a !important;
}
.btn{
    --background:#f73859 !important;
}
.notaFinal{
    text-align: center;
    padding: 20px 0px;
    color:#233142!important;
}
.iconTam{
    --ionicon-stroke-width: 100px;
}