<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Asignar Convocatoria y Rol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="formContainer" [formGroup]="rolForm" (ngSubmit)=submit($event) >
    <ion-item>
      <ion-label>Convocatoria</ion-label>
      <ion-select style="left: 0px;" interface="popover" formControlName="idConv">
        <div class="selectContainer" *ngFor="let convocatoria of listaConvocatorias">
          <ion-select-option [value]="convocatoria.id">{{convocatoria.nombre_conv}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select mode="md" interface="popover" formControlName="idRol">
        <div *ngFor="let rol of listaRoles">
          <ion-select-option [value]="rol.id">Comisión {{rol.nombre_rol}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div class="btnContainer">
      <ion-button type="submit" color="danger" [disabled]="!rolForm.valid">Asignar</ion-button>
    </div>
  </form>
</ion-content>
