.containerFooter{
    width: 100%;
    background: #233142;
    
}
.redes{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}