<ion-header mode="ios" [translucent]="true">
  <ion-toolbar class="backgroundColor">
    <ion-avatar>
      <img src="assets/images/logo.png">
    </ion-avatar>
    <ion-title>Bienvenido {{rol}}</ion-title>
    <ion-button color=danger slot="end" (click)="logout()">Cerrar Sesion</ion-button>
  </ion-toolbar>
</ion-header>