<ion-header >
  <ion-toolbar class="header">
    <ion-title slot="start">Lista de Postulantes {{condicion}}</ion-title>
    <ion-button slot="end"class="btn" (click)="dismiss()">Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="padding: 20px;">
    <ion-list-header class="headerList">Nombre Completo</ion-list-header>
    <ion-item class="item" button="true" [disabled]="condicionBoton" detail *ngFor="let postulante of listaDePostulantes" 
              (click)="presentModal(postulante)">
      <ion-icon  class="icon" slot="start" name="person"></ion-icon>
      <ion-label>{{postulante.first_name}} {{postulante.last_namep}} {{postulante.last_namem}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
