.container{
    width: 50%;
    margin: auto;
    font-family: Open sans;
}
h1{
    text-align: center;
}
.secretary{
    //display:none;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.upload{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.containerUp{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.containerUp ion-label{
    text-align: center;
    width: 100%;
    font-size: 18px;
    background: rgba(110, 110, 110, 0.1);
    border-radius: 3px;
}
.containerData{
    width: 100%;
}
.btn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.convocatorias{
}
@media screen and (max-width:800px){
    .container{
        width: 100%;
    }
    .containerUp{
        width: 100%;
    }
    .containerData{
        width: 100%;
    }
    .upload{
        width: 100%;
    }
    .cards{
        flex-direction: column;
    }
}