.containerCards{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.card{
    background-color: #808289;
}
ion-card{
    width: 100%;
}
.contentCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerInform{
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #92949c;
    color: white;
    border-radius: 6px;
}
.containerInform h2{
    padding: 5px;
}
.containerDate{
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #92949c;
    color: white;
    text-align: center;
    border-radius: 6px;
}
.containerDate h2{
    padding: 1px;
}
.containerBtn{
    width: 20%;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 6px;
}
.btnTitte{
    width: 100%;
    margin: auto;
    background-color: #808289;
}