<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <div *ngFor="let dato of datosDeItem">
      <ion-title>{{dato.nombre_item}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 style="text-align: center;">Tabla de Calificación de Conocimiento</h1>
      <form class="form" [formGroup]="tematicaForm" (ngSubmit)=submit($event)>
        <div class="box">
          <ion-item>
            <ion-label position="floating">Nombre Tematica</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <div *ngFor="let errorMessage of errorsMessages.name">
            <ng-container *ngIf="name.hasError(errorMessage.type) && (name.dirty || name.touched)">
              <small class="errorsMessages">{{errorMessage.message}}</small>
            </ng-container>
          </div>
        </div>
  
        <div class="box">
          <ion-item>
            <ion-label position="floating">Porcentaje Calificación</ion-label>
            <ion-input type="number" formControlName="portion"></ion-input>
          </ion-item>
          <div *ngFor="let errorMessage of errorsMessages.portion">
            <ng-container *ngIf="portion.hasError(errorMessage.type) && (portion.dirty || portion.touched)">
              <small class="errorsMessages">{{errorMessage.message}}</small>
            </ng-container>
          </div>

        </div>

        <ion-button type="submit" [disabled]="!tematicaForm.valid" color="danger">Agregar</ion-button> 
      </form>
      
    <h3 style="text-align: center;">Tematicas actuales</h3>
    <div class="seccionList">
      <div class="name">
        <ion-item color="danger">
          <ion-label>Nombre Tematica</ion-label>
        </ion-item>
        <ion-list *ngFor="let tematica of listaDeTematicas">
          <ion-item>
            <ion-label>{{tematica.nombre}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="point">
        <ion-item color="danger">
          <ion-label>Porcentaje Calificación</ion-label>
        </ion-item>
        <ion-list *ngFor="let tematica of listaDeTematicas">
          <ion-item>
            <ion-label>{{tematica.porcentaje}} %</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="btn">
        <ion-item color="danger">
          <ion-label>Quitar</ion-label>
        </ion-item>
        <ion-list *ngFor="let tematica of listaDeTematicas">
          <ion-item>
            <ion-button (click)="eliminarTematica(tematica.id)" color="danger">X</ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <ion-text style="text-align: center;" color="medium"><h3>Porcentaje Total Tematica: {{sumaTotal}} %</h3></ion-text>
    <div class="btns">
      <ion-buttons>
        <ion-button color="danger" (click)="goToHome()">Cancelar</ion-button>
      </ion-buttons>               
      <ion-button color="danger" [disabled]="btnDisabled" (click)="goToHome()">Guardar</ion-button>
    </div>
    </div>   
</ion-content>
