.container{
    width: 50%;
    margin: auto;
    padding-bottom: 100px;
}
.form{
    width: 100%;
}

::ng-deep .upload-button {
    margin: auto !important;
    text-align: center !important;
    padding: 5px 4px !important;
    color: white !important;
    background-color: gray !important;
  }

.btns{
    width: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}