<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 style="text-align: center;"> Calificación de Meritos </h1>
    <div class="form">
      <ion-title style="margin-top: 20px;">
        <h1>Rendimiento Académico</h1>
      </ion-title>
      <ion-list>
        <ion-item *ngFor="let rendimiento of listaRendimiento">
          <ion-text>{{rendimiento.nombre}}</ion-text>
          <ion-text slot="end">{{rendimiento.puntos}} %</ion-text>
        </ion-item>
      </ion-list>


      <ion-title style="margin-top: 20px;margin-bottom: 20px;">
        <h1>Experiencia General</h1>
      </ion-title>
      <ion-list>
        <div class="containerForm" *ngFor="let reqOption of listaReqOptions; let i = index;">
          <ion-item>
            <ion-text>
              <h5>{{reqOption.nombre}}</h5>
            </ion-text>
            <ion-text slot="end">{{reqOption.punto_max}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-text>{{reqOption.punto}} puntos/certificado</ion-text>
          </ion-item>
          <input type="file" accept=".pdf" multiple required (change)="checkFile($event,i)">
          <br />
          <ion-text *ngIf="failFormat[i]">
            <small style="color: red;">
              Todos los archivos deben ser formato *.pdf
            </small>
          </ion-text>
        </div>
      </ion-list>
    </div>
    <div class="btns">
      <ion-buttons>
        <ion-button color="danger" (click)="goToHome()">Cancelar</ion-button>
      </ion-buttons>
      <ion-button color="danger" disabled *ngIf="failFormat.length<listaReqOptions.length || failFormat.includes(true)">
        Omitir y Continuar</ion-button>
      <ion-button color="danger" (click)="EnviarAndGoToItems()"
        *ngIf="failFormat.length==listaReqOptions.length && !failFormat.includes(true)">Omitir y Continuar</ion-button>
    </div>

  </div>
</ion-content>