
<ion-content>
  <h2>Formulario de Registro</h2>
  <div class="container">
    <h5>Campos Obligatorios <ion-text color="danger">*</ion-text></h5>
    <form [formGroup]="signupForm" (ngSubmit)=submit()>

      <div *ngIf="hidden">
        <ion-item>
          <ion-label position=floating>Tipo</ion-label>
          <ion-input type=text formControlName="tipo" name=tipo value={{tipoDeUsuario.tipo}}></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position=floating>Estado</ion-label>
          <ion-input type=text formControlName="estado" name=estado value={{tipoDeUsuario.estado}}></ion-input>
        </ion-item>

      </div>

      <ion-item>
        <ion-label position=floating>Nombre de Usuario <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type=text formControlName="userName" name=userName></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.userName">
        <ng-container *ngIf="userName.hasError(errorMessage.type) && (userName.dirty || userName.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>


      <ion-item>
        <ion-label position=floating>Nombre(s) <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type=text formControlName="firstName" name=firstName></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.firstName">
        <ng-container *ngIf="firsName.hasError(errorMessage.type) && (firsName.dirty || firsName.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>



      <div class="containerAp">
        <ion-item>
          <ion-label position=floating>Apellido Paterno <ion-text color="danger">*</ion-text></ion-label>
          <ion-input type=text formControlName="lastNameP" name=lastNameP></ion-input>
        </ion-item>
        <div *ngFor="let errorMessage of errorsMessages.lastNameP">
          <ng-container *ngIf="lastNameP.hasError(errorMessage.type) && (lastNameP.dirty || lastNameP.touched)">
            <small class="errorsMessages">{{errorMessage.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position=floating>Apellido Materno <ion-text color="danger">*</ion-text></ion-label>
          <ion-input type=text formControlName="lastNameM" name=lastNameM></ion-input>
        </ion-item>
        <div *ngFor="let errorMessage of errorsMessages.lastNameM">
          <ng-container *ngIf="lastNameM.hasError(errorMessage.type) && (lastNameM.dirty || lastNameM.touched)">
            <small class="errorsMessages">{{errorMessage.message}}</small>
          </ng-container>
        </div>



      </div>

      <ion-item>
        <ion-label position=floating>Contraseña <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type=password formControlName="password" name=password></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.password">
        <ng-container *ngIf="password.hasError(errorMessage.type) && (password.dirty || password.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>


      <ion-item>
        <ion-label position=floating>Confirmar Contraseña <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type=password formControlName="confirmPassword" name=confirmPassword></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.confirmPassword">
        <ng-container
          *ngIf="confirmPassword.hasError(errorMessage.type) && (confirmPassword.dirty || confirmPassword.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
        <ng-container *ngIf="signupForm.hasError('notSame')">
          <small class="errorsMessages">Las contraseñas no coinciden</small>
        </ng-container>
      </div>

      <div class="containerInform">
        <ion-item>
          <ion-label>Facultad</ion-label>
          <ion-select mode="md" interface="popover" formControlName="facultad">
            <ion-select-option> Ciencias y Tecnologia</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Carrera</ion-label>
          <ion-select mode="md" interface="popover" formControlName="carrera">
            <ion-select-option>Informatica</ion-select-option>
            <ion-select-option>Sistemas</ion-select-option>
          </ion-select>
        </ion-item>
      </div>


      <ion-item>
        <ion-label position=floating>Correo Electronico</ion-label>
        <ion-input type=email formControlName="email" name=email></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.email">
        <ng-container *ngIf="email.hasError(errorMessage.type) && (email.dirty || email.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>


      <ion-item>
        <ion-label position=floating>Telefono Celular</ion-label>
        <ion-input type="phone" formControlName="phone" name=phone></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.phone">
        <ng-container *ngIf="phone.hasError(errorMessage.type)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>


      <ion-item>
        <ion-label position=floating>Direccion Domiciliaria</ion-label>
        <ion-input type=text formControlName="dir" name=direction></ion-input>
      </ion-item>

      <div *ngFor="let errorMessage of errorsMessages.dir">
        <ng-container *ngIf="dir.hasError(errorMessage.type) && (dir.dirty || dir.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>

      <div *ngIf="hiddenMesage" class="messageAuthError">
        <ul>
          <li>{{mesageError}}</li>
        </ul>
      </div>
      <div class="btn">
        <ion-button type="submit" [disabled]="!signupForm.valid" class="tamaño" color=danger>Registrar</ion-button>
        <ion-button class="tamaño" color=danger [routerLink]="['/']" fill="outline">Cancelar</ion-button>
      </div>

    </form>


  </div>


</ion-content>

<app-footer></app-footer>