.btn{
    margin-top: 50px;
    text-align: center;
}
.tamaño{
    width: auto;
}
h2{
    margin-top: 50px;
    text-align: center;
}
.container{
    width: 50%;
    margin: auto;
}
.containerAp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containerAp ion-item{
    width: 50%;
}
.errorsMessages{
    font-family: open sans;
    color: rgb(209, 9, 9);
}
.messageAuthError{
    width: 100%;
    background: rgb(207, 79, 79);
    color: white;
}
.containerInform{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containerInform ion-item{
    width: 50%;
}

@media screen and(max-width:500px){
    .container{
        width: 100%;
        margin: auto;
    }
    .container ion-label{
        font-size: 15px;
    }
}