<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Requisitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 style="text-align: center;">Requisitos obligatorios</h1>
    <div class="frecuency">
      <h3>Frecuentes</h3>
      <ion-item *ngFor="let requisito of listRequisitos">
        <ion-label>{{requisito.nombre}}</ion-label>
        <ion-button color='danger'slot="end" (click)="aniadir(requisito.id)">Añadir</ion-button>
      </ion-item>
    </div>
    <div class="add">
      <h3>Añadir</h3>
      <form [formGroup]="requirementExtraForm" (ngSubmit)=submit()>
        <ion-item>
          <ion-label position="floating">Nombre del requisito</ion-label>
          <ion-input type="text" formControlName="name_extra"></ion-input>
          <ion-button type="submit"[disabled]="!requirementExtraForm.valid" color="danger" slot="end">Añadir</ion-button>
        </ion-item>
        <div *ngFor="let errorMessage of errorsMessages.reqExtra">
          <ng-container *ngIf="reqExtra.hasError(errorMessage.type) && (reqExtra.dirty || reqExtra.touched)">
            <small class="errorsMessages">{{errorMessage.message}}</small>
          </ng-container>
        </div>
  
      </form>
    </div>
    <div class="requirement">
      <h3 style="text-align: center;">Requisitos</h3>
      <ion-item *ngFor="let reqAdd of listAddRequisitos">
        <ion-label>{{reqAdd.nombre}}</ion-label>
        <ion-button color='danger'slot="end" (click)="delReq(reqAdd.id)">X</ion-button>
      </ion-item>
      <ion-item *ngFor="let reqAddExtra of listAddRequisitosExtra">
        <ion-label>{{reqAddExtra.req_extra}}</ion-label>
        <ion-button  color='danger'slot="end" (click)="delReq(reqAddExtra.id)">X</ion-button>
      </ion-item>
    </div>
    <div class="btns">
        <ion-buttons>
          <ion-button color="danger" (click)="goToHome()">Cancelar</ion-button>
        </ion-buttons>               

      <ion-button color="danger" routerLink='conf-meritos' (click)="sendIdConv()">Siguiente</ion-button>
    </div>
  </div>
</ion-content>
