.container{
    width: 50%;
    margin: auto;
}
.frecuency{
    padding: 15px;
}
.add{
    padding: 15px;
}
.requirement{
    padding: 15px;
}
.btns{
    width: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.errorsMessages{
    background-color: white;
    font-family: open sans;
    color:#eb445a;
}