.colorHeaderCard{
    --background:#455d7a !important;
}
.colorBtn{
    --background:#ffdbc5 !important;
    --color:black!important;
}
.colorBtn2{
    --background:#f95959 !important;
    --background-hover:#e3e3e3 !important;
    --background-activated:#f95959 !important;
    --color-hover:#233142;
}
.colorBtn3{
    --background:#24a19c !important;
    --background-hover:#f95959 !important;
    --background-activated:#6ebfb5 !important;
    --color-hover:#233142;
}
.container{
    width: 70%;
    margin: auto;
}
.containerCardBtn{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #383a3e;
    color: white;
}
.containerCards{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ion-card{
    width: 100%;
}
.containerDate{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerBtn{
    width: 100%;
    background-color: #92949c;
    color: white;
}
.tittleBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.headerCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.containerBtnTittle{
    display: flex;
    width: 100%;
    background-color: #92949c;
    color: white;
}