.container{
    width: 70%;
    margin: auto;
}
.btnContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.errorsMessages{
    font-family: open sans;
    color: rgb(209, 9, 9);
}