<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <ion-text style="display: flex;align-items: center;" color="danger"><h3>DOCUMENTOS OBLIGATORIOS PRESENTADOS POR EL POSTULANTE</h3></ion-text>

    <ion-list class="requisitos" >
      <ion-list-header color="danger">
        <ion-label>Requisito</ion-label>
        <!--<ion-label>Puntuación Asignada</ion-label>
        <ion-label>Observaciones</ion-label>-->
      </ion-list-header>
      <div class="section" *ngFor="let requisito of listaObligatorios">
        <div class="block">
          <ion-item>
            <a href={{requisito.file_dir}} target="_blank" ><ion-label><ion-text color="primary">{{requisito.name_req}}.pdf </ion-text></ion-label></a>
          </ion-item>
        </div>
        <!--<div class="block">
          <ion-item> 
            <a href={{requisito.file_dir}} target="_blank" ><ion-label><ion-text color="primary">{{requisito.name_req}}.pdf </ion-text></ion-label></a>
          </ion-item> 
        </div>
        <div class="block">
          <ion-item>
            <ion-label>{{requisito.puntuacion}}</ion-label>
          </ion-item> 
        </div>

        <div class="block">
          <ion-item>
            <ion-input ></ion-input>
          </ion-item>
        </div>-->
      </div>
    </ion-list>


    <ion-text style="display: flex;align-items: center;" color="danger"><h3>CALIFICACIÓN DE MÉRITOS</h3></ion-text>
    <ion-title style="text-align: center;margin-bottom: 20px;margin-top: 20px;">Rendimiento Academico</ion-title>
    <div class="secciones">
      <ion-list class="nombre" >
        <ion-list-header color="danger">Nombre Requisito</ion-list-header>
        <ion-item *ngFor="let rendimiento of listaDeRendimientos">
          <ion-label>{{rendimiento.nombre}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="porcentajeMax" >
        <ion-list-header color="danger">Porcentaje de Nota Maxima Permitida</ion-list-header>
        <ion-item *ngFor="let rendimiento of listaDeRendimientos">
          <ion-label>{{rendimiento.puntos}} %</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="porcentajeActual">
        <ion-list-header color="danger">Porcentaje Actual de Postulante</ion-list-header>
        <ion-item *ngFor="let nota of listaDeNotas">
          <ion-label>{{nota.nota}} %</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="modificar">
        <ion-list-header color="danger">Asignar Nota</ion-list-header>
        <form class="form"[formGroup]="notaRendimientoForm"  *ngFor="let rendimiento of listaDeRendimientos">
          <ion-item>
            <ion-input type="number" formControlName="nota"></ion-input>
          </ion-item>
          <ion-button [disabled]="!notaRendimientoForm.valid" (click)="submit(rendimiento.id)"  color="medium">Asignar Nota</ion-button>
        </form>
      </ion-list>
    </div>
    <ion-text style="text-align: center;" color="medium"><h3>Nota Total de Usuario en Rendimiento Academico  : {{notaTotalDeUsuario}} %</h3></ion-text>
    <ion-title style="text-align: center;margin-bottom: 20px;margin-top: 20px;">Experiencia General</ion-title>
    <div class="secciones">
      <ion-list class="requisitos" >
        <ion-list-header color="danger">
          <ion-label>Requisito</ion-label>
          <ion-label>Puntuación Total</ion-label>
          <!--<ion-label>Puntuación Asignada</ion-label>
          <ion-label>Observaciones</ion-label>-->
        </ion-list-header>
        <div class="section" *ngFor="let requisito of listaDeReqOpcionales">
          <div class="block">
            <ion-item button=true detail (click)="presentModal(requisito)">
              <ion-label>{{requisito.name_req}}</ion-label>
              <ion-label slot="end">{{requisito.puntuacionTotal}}</ion-label>
            </ion-item>
          </div>
          <!--<div class="block">
            <ion-item> 
              <a href={{requisito.file_dir}} target="_blank" ><ion-label><ion-text color="primary">{{requisito.name_req}}.pdf </ion-text></ion-label></a>
            </ion-item> 
          </div>
          <div class="block">
            <ion-item>
              <ion-label>{{requisito.puntuacion}}</ion-label>
            </ion-item> 
          </div>

          <div class="block">
            <ion-item>
              <ion-input ></ion-input>
            </ion-item>
          </div>-->
        </div>
      </ion-list>
    </div>
    <ion-text style="text-align: center;" color="medium"><h3>Puntaje Total de Usuario en Experiencia General  : {{puntosTotalDeUsuario}} %</h3></ion-text>
    <div style="width: 20%;margin: 20px auto;">
      <ion-button (click)="goToPostulantes()" color="danger">Finalizar Evaluación</ion-button>
    </div>
  </div>
</ion-content>
