.colorTab ion-tabs ion-tab-bar ion-tab-button ion-icon{
    color: rgb(252, 252, 252);
    font-size: 30px;
}
.colorTab ion-tabs ion-tab-bar ion-tab-button ion-label{
    color: rgb(252, 252, 252);
    font-size: 20px;
    font-family: open Sans;
}
.colorTab ion-tabs ion-tab-bar ion-tab-button ion-label:hover{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: open Sans;
}
.colorTab ion-tabs ion-tab-bar ion-tab-button ion-label:active{
    color: rgb(0, 0, 0) !important;
    font-size: 40px;
    text-decoration: underline;
    font-family: open Sans;
}
.colorTabBar{
    --background:#f73859 !important;
}