<app-header></app-header>
<ion-content>

  <div *ngIf="codAdministrador" class="colorTab" >
      <ion-tabs>
      <ion-tab-bar slot="top" class="colorTabBar">
        <div class="colorBtn" *ngFor="let section of sectionAdmin">
          <ion-tab-button tab={{section.path}}>
            <!--<ion-icon name={{section.icon}}></ion-icon>-->
            <ion-label>{{section.label}}</ion-label>
          </ion-tab-button>       
        </div>
      </ion-tab-bar>
    </ion-tabs>
   </div>
    <!---->
    <div *ngIf="codPostulante" class="colorTab">
      <ion-tabs>
        <ion-tab-bar slot="top" class="colorTabBar">
          <div *ngFor="let section of sectionPostul">
            <ion-tab-button tab={{section.path}}>
             <!--<ion-icon name={{section.icon}}></ion-icon>-->
              <ion-label >{{section.label}}</ion-label>
            </ion-tab-button>       
          </div>
        </ion-tab-bar>
      </ion-tabs>
    </div>
  <!---->
  <div *ngIf="codComision" class="colorTab">
    <ion-tabs>
      <ion-tab-bar slot="top" class="colorTabBar">
        <div *ngFor="let section of sectionComition">
          <ion-tab-button tab={{section.path}}>
            <!--<ion-icon name={{section.icon}}></ion-icon>-->
            <ion-label >{{section.label}}</ion-label>
          </ion-tab-button>       
        </div>
      </ion-tab-bar>
    </ion-tabs>

  </div>

    <!---->
    <div *ngIf="codSecretaria" class="colorTab">
      <ion-tabs >
        <ion-tab-bar slot="top"class="colorTabBar">
          <div *ngFor="let section of sectionSecretary">
            <ion-tab-button tab={{section.path}}>
              <!--<ion-icon name={{section.icon}}></ion-icon>-->
              <ion-label  >{{section.label}}</ion-label>
            </ion-tab-button>       
          </div>
        </ion-tab-bar>
      </ion-tabs>


    </div>
  <!----> 
  </ion-content>
  <app-footer></app-footer>