#container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#bold {
  font-weight: bold;
}

.padding {
  padding: 5px 5px 20px 5px !important;
  display: block;
}

.block {
  display: flex;
  flex-direction: column;
}

ion-item {
  display: flex;
  flex-direction: column;
}

#padding {
  padding: 5px;
}

.subpadding {
  margin-bottom: 10px;
}

.btn{
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.tamaño{
    width: auto;
}

::ng-deep .upload-button {
    margin: auto !important;
    text-align: center !important;
    padding: 5px 4px !important;
    color: white !important;
    background-color: gray !important;
  }


@media (prefers-color-scheme: dark) {

}

@media (prefers-color-scheme: light) {

}