.tittle{
    width: 100%;
    text-align: center;
}
.containerForm{
    width: 50%;
    margin: auto;
}
.containerBtn{
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.errorsMessages{
    background-color: white;
    font-family: open sans;
    color:#eb445a;
}