<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h2>Ingresar al Sistema</h2>
  <div class="container">

    <div *ngFor="let dato of datosUsuario">
      <h1 *ngIf="hidden">{{dato.email}}</h1>
    </div>
    <h5>Los campos con (*) son campos obligatorios</h5>

    <form [formGroup]="loginForm" (ngSubmit)=submit()>
      <ion-item>
        <ion-label position=floating>Nombre de Usuario (*) </ion-label>
        <ion-input type=text formControlName="userName" name=userName></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.userName">
        <ng-container *ngIf="userName.hasError(errorMessage.type) && (userName.dirty || userName.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position=floating>Contraseña (*) </ion-label>
        <ion-input type=password formControlName="password" name=password></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.password">
        <ng-container *ngIf="password.hasError(errorMessage.type) && (password.dirty || password.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>
      <div *ngIf="validUser" class="messageAuthError">
        <ul>
          <li>{{messageError}}</li>
        </ul>
      </div>

      <div class="btn">
        <ion-button [disabled]="!loginForm.valid" type="submit" class="tamaño" color=danger>Ingresar</ion-button>
        <ion-button class="tamaño" color=danger [routerLink]="['/']" fill="outline">Cancelar</ion-button>
      </div>
    </form>

  </div>



</ion-content>

<app-footer></app-footer>