<!--<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
-->

<!--
<mat-tab-group *ngIf="codSecretaria" id="tab-bar" mat-align-tabs="center"  >
  <mat-tab label="Convocatorias">
    <ng-template matTabContent>
      The First Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Generar código">
    <ng-template matTabContent>
      <div class="container">
        <h1>Generar Códigos de Verificación</h1>
        <div class="btn">
          <ion-button color=danger (click)="pedirCodigo('Postulante')">Postulante</ion-button>
          <ion-button color=danger (click)="pedirCodigo('Comision')">Comisión</ion-button>
        </div>
        <h3>CODIGO</h3>
        <div class="codigo">
          <h1 *ngIf="codigo" style="color: black;">{{codigo}}</h1>
        </div>
        <ion-button color=danger (click)="limpiar()" class="limpiar">Limpiar</ion-button>
      </div>
    </ng-template>

  </mat-tab>

</mat-tab-group>
<mat-tab-group *ngIf="codPostulante" id="tab-bar" mat-align-tabs="center">
  <mat-tab label="Convocatorias">
    <ng-template matTabContent>
      The First Contentdsdasasd
    </ng-template>
  </mat-tab>
  <mat-tab label="Postulaciones">
    <ng-template matTabContent>
      The Second Content
    </ng-template>
  </mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="codComision" id="tab-bar" mat-align-tabs="center">
  <mat-tab label="tab #1">
    <ng-template matTabContent>
      The First Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Tab #2">
    <ng-template matTabContent>
      The Second Content
    </ng-template>
  </mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="codAdministrador" id="tab-bar" mat-align-tabs="center" dynamicHeight>
  <mat-tab label="Convocatorias" >
    <ng-template matTabContent>
      The First Content

      <div class="containerCards" *ngFor="let convocatory of convocatories">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title>{{convocatory.nombre_conv}}</ion-card-title>
          </ion-card-header> 
       </ion-card>
       <ion-button>Añadir Item</ion-button>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Usuarios">
    <ng-template matTabContent>
      The Second Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Crear Convocatoria">
    <ng-template matTabContent>
      The Thirt Content
      <div class="formConvocatory">
        <form [formGroup]="convocatoryForm" (ngSubmit)=submit()>
          <ion-item>
            <ion-label position= floating>Nombre de la Convocatoria</ion-label>
            <ion-input type=text formControlName = nameConv></ion-input>
          </ion-item>
          <ion-button type="submit">Crear</ion-button>
      </form>

      </div>
    </ng-template>
  </mat-tab>

</mat-tab-group>-->