::ng-deep .mat-tab-label {
color: white !important;
font-size:18px;
opacity: 1 !important
}

::ng-deep .mat-tab-labels {
background-color: #CD4A5B;
}

::ng-deep .mat-tab-link {
color:white !important;
}

::ng-deep .mat-ink-bar {
background-color: white !important
}

::ng-deep .mat-tab-label-active {
color:white !important;
font-size:18px;
opacity: 1 !important;
}

::ng-deep .mat-tab-body {
    color: white !important;
    width: 70%;
    padding: 10px 100px;
}

.container{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}
.codigo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    width: 50%;
    margin: auto;
    height: 100px;
    border-radius: 0.5rem;
}

.limpiar {
    display: block;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 3px auto;
}
.formConvocatory{
    width: 50%;
    margin: auto;
}
.containerCards{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ion-card{
    width: 100%;
}