<ion-header>
  <ion-toolbar  class="header">
    <ion-title>{{nombre_req}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="text-align: center;margin-top: 20px;">Documentos</ion-title>
  <ion-text style="padding: 20px;">El valor permitido para la modificación de puntuación es: <ion-text color=danger>0 y el valor puntuación/documento  </ion-text></ion-text>
      <ion-list style="padding: 20px;">
        <ion-list-header class="headerList" color="danger">
          <ion-label>Requisito</ion-label>
          <ion-label>Puntuación/Documento  </ion-label>
          <ion-label>Modificar</ion-label>
          <!--<ion-label>Observaciones</ion-label>-->
        </ion-list-header>
        <div class="section" *ngFor="let requisito of listaDeReqOpcionales">
          <div class="block">
            <ion-item> 
              <a href={{requisito.file_dir}} target="_blank" ><ion-label><ion-text color="primary">{{requisito.name_req}}.pdf </ion-text></ion-label></a>
            </ion-item> 
          </div>
          <div class="block">
            <ion-item>
              <ion-label>{{requisito.puntuacion}}</ion-label>
            </ion-item> 
          </div>
          <div class="block">
            <form [formGroup]="fileDataForm">
              <ion-item>
                <ion-input type=number formControlName="puntoAniadir"></ion-input>
                <ion-button class="btn" [disabled]="!fileDataForm.valid" (click)="modificar(requisito.idFile,requisito.punto)">Modificar</ion-button>
              </ion-item>
            </form>
          </div>
        </div>
      </ion-list>
    <div style="width: 100%; text-align: center;">
      <ion-button class="btn" (click)="dismiss()">Finalizar Modificación</ion-button>
    </div>

</ion-content>
