

<ion-content>
  <ion-card mode="ios" style="width: 60%; margin: 20px auto;"
            *ngFor="let convocatoria of listaDeConvoctorias">
    <ion-card-header class="colorHeaderCard">
      <ion-card-title style="--color:white !important;">{{convocatoria.nombre_conv}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="display: flex;align-items: center;justify-content: space-between;">
      <ion-list>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Facultad: {{convocatoria.facultad}}</ion-text>
        </ion-item>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Carrera: {{convocatoria.carrera}}</ion-text>
        </ion-item>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Departamento: {{convocatoria.departamento}}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Fecha Publicaión: {{convocatoria.fecha_actual}}</ion-text>
        </ion-item>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Fecha Limite: {{convocatoria.fecha_limite}}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list style="display: flex;flex-direction: column;">
        <ion-button class="colorBtn2" (click)="presentModal(convocatoria.id,'Habilitados')">Postulantes Habilitados</ion-button>
        <ion-button class="colorBtn2" (click)="presentModal(convocatoria.id,'Inhabilitados')">Postulantes Inhabilitados</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
