.colorHeaderCard{
    --background:#455d7a !important;
}
.colorBtn{
    --background:#ffdbc5 !important;
    --color:black!important;
}
.colorBtn2{
    --background:#f95959 !important;
    --background-hover:#e3e3e3 !important;
    --background-activated:#f95959 !important;
    --color-hover:#233142;
}