
<ion-content>
  <ion-card routerLink="items-comision"color="medium"mode="ios"class="card"
            *ngFor="let convocatoria of listaDeConvocatorias"
            (click)="sendIdConv(convocatoria)" >
    <ion-card-title style="padding: 15px 15px 0px 15px;">{{convocatoria.nombre_conv}}</ion-card-title>
    <ion-card-content>
      <ion-text color="dark"> Comision {{convocatoria.nombre_rol}}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
