<!--<ion-header mode="ios" [translucent]="true">
  <ion-toolbar class="backgroundColor">
    <ion-avatar>
      <img src="assets/images/logo.png">
    </ion-avatar>
    <ion-title>{{tipoDeUsuario}}</ion-title>
    <ion-button color=danger slot="end" (click)="logout()">Cerrar Sesion</ion-button>
  </ion-toolbar>
</ion-header>
-->

<!--<app-nav-bar></app-nav-bar>-->

<ion-content [fullscreen]="true" [ngSwitch]="tipoDeUsuario">
  <div id="container" *ngSwitchCase="'Postulante'">
    <h1>Home Postulante</h1>
    <!-- <h2>Universidad Mayor de San Simon</h2>
    <p>Administración de sistemas y soporte centralizados.
      Gran parte de la actividad que desarrollamos en el Área de Sistemas corresponde a la administración de los
      sistemas operativos y al soporte a los usuarios de los computadores centrales o corporativos, con los objetivos de
      garantizar la continuidad del funcionamiento de las máquinas y del "software" al máximo rendimiento, y facilitar
      su utilización a todos los sectores de la comunidad de la Empresa.</p>
    <h1>Convocatoria Vigente</h1>
    <div class="cards">
      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-title>Descargar Convocatoria</ion-card-title>
          <ion-card-subtitle>Pdf</ion-card-subtitle>
          <ion-button>Descargar</ion-button>
          <ion-card-content>La convocatoria presente....</ion-card-content>
        </ion-card-header>
      </ion-card>
    </div> -->
  </div>
  <div id="container" *ngSwitchCase="'Secretaria'">
    <h1>Home Secretaria</h1>
    <!-- <h2>Universidad Mayor de San Simon</h2>
    <p>Administración de sistemas y soporte centralizados.
      Gran parte de la actividad que desarrollamos en el Área de Sistemas corresponde a la administración de los
      sistemas operativos y al soporte a los usuarios de los computadores centrales o corporativos, con los objetivos de
      garantizar la continuidad del funcionamiento de las máquinas y del "software" al máximo rendimiento, y facilitar
      su utilización a todos los sectores de la comunidad de la Empresa.</p>
    <h1>Convocatoria Vigente</h1>
    <div class="cards">
      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-title>Descargar Convocatoria</ion-card-title>
          <ion-card-subtitle>Pdf</ion-card-subtitle>
          <ion-button>Descargar</ion-button>
          <ion-card-content>La convocatoria presente....</ion-card-content>
        </ion-card-header>
      </ion-card>
    </div> -->
  </div>
  <div id="container" *ngSwitchCase="'Comision'">
    <h1>Home Comisión de Méritos/Exámen</h1>
    <!-- <h2>Universidad Mayor de San Simon</h2>
    <p>Administración de sistemas y soporte centralizados.
      Gran parte de la actividad que desarrollamos en el Área de Sistemas corresponde a la administración de los
      sistemas operativos y al soporte a los usuarios de los computadores centrales o corporativos, con los objetivos de
      garantizar la continuidad del funcionamiento de las máquinas y del "software" al máximo rendimiento, y facilitar
      su utilización a todos los sectores de la comunidad de la Empresa.</p>
    <h1>Convocatoria Vigente</h1>
    <div class="cards">
      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-title>Descargar Convocatoria</ion-card-title>
          <ion-card-subtitle>Pdf</ion-card-subtitle>
          <ion-button>Descargar</ion-button>
          <ion-card-content>La convocatoria presente....</ion-card-content>
        </ion-card-header>
      </ion-card>
    </div> -->
  </div>
  <div id="container" *ngSwitchCase="'Administrador'">
    <h1>Home Administrador</h1>
    <!-- <h2>Universidad Mayor de San Simon</h2>
    <p>Administración de sistemas y soporte centralizados.
      Gran parte de la actividad que desarrollamos en el Área de Sistemas corresponde a la administración de los
      sistemas operativos y al soporte a los usuarios de los computadores centrales o corporativos, con los objetivos de
      garantizar la continuidad del funcionamiento de las máquinas y del "software" al máximo rendimiento, y facilitar
      su utilización a todos los sectores de la comunidad de la Empresa.</p>
    <h1>Convocatoria Vigente</h1>
    <div class="cards">
      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-title>Descargar Convocatoria</ion-card-title>
          <ion-card-subtitle>Pdf</ion-card-subtitle>
          <ion-button>Descargar</ion-button>
          <ion-card-content>La convocatoria presente....</ion-card-content>
        </ion-card-header>
      </ion-card>
    </div> -->
  </div>
  <div id="container" *ngSwitchDefault>
    <h1>Home Default, que no deberia mostrarse nunca, a menos que haya un bug :( </h1>
    <!-- <h2>Universidad Mayor de San Simon</h2>
    <p>Administración de sistemas y soporte centralizados.
      Gran parte de la actividad que desarrollamos en el Área de Sistemas corresponde a la administración de los
      sistemas operativos y al soporte a los usuarios de los computadores centrales o corporativos, con los objetivos de
      garantizar la continuidad del funcionamiento de las máquinas y del "software" al máximo rendimiento, y facilitar
      su utilización a todos los sectores de la comunidad de la Empresa.</p>
    <h1>Convocatoria Vigente</h1>
    <div class="cards">
      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-title>Descargar Convocatoria</ion-card-title>
          <ion-card-subtitle>Pdf</ion-card-subtitle>
          <ion-button>Descargar</ion-button>
          <ion-card-content>La convocatoria presente....</ion-card-content>
        </ion-card-header>
      </ion-card>
    </div> -->
  </div>
</ion-content>

<!--<app-footer></app-footer>-->