<ion-header mode= "ios" [translucent]= "true" >
  <ion-toolbar class = "backgroundColor">
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/images/logo.png">
      </ion-avatar>
    </ion-buttons>
      <ion-button color=danger slot="end" routerLink='login'>Iniciar Sesion</ion-button>
      <ion-button color=danger slot="end" (click)="presentModal()">Registrarse</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Departamento de Informatica y Sistemas</h1>
    <h2>Universidad Mayor de San Simon</h2>
    <p >Administración de sistemas y soporte centralizados.
      Gran parte de la actividad que desarrollamos en el Área de Sistemas corresponde a la administración de los sistemas operativos y al soporte a los usuarios de los computadores centrales o corporativos, con los objetivos de garantizar la continuidad del funcionamiento de las máquinas y del "software" al máximo rendimiento, y facilitar su utilización a todos los sectores de la comunidad de la Empresa.</p>
    <h1>Convocatorias Vigentes</h1>
    <div class="containerCards" *ngFor="let convocatory of convocatorias">
      <ion-card color=medium mode="ios">
        <ion-card-content>
          <div class="titleCard">
            <ion-card-title>{{convocatory.nombre_conv}}</ion-card-title>
          </div>
          <div class="containerDate">
              <ion-label>Fecha Publicacion:{{convocatory.fecha_actual}}</ion-label>
              <ion-label>Fecha Limite Entrega Documentos:{{convocatory.fecha_limite}}</ion-label>
          </div>
        </ion-card-content>
    </ion-card>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>