.container{
    width: 70%;
    margin: auto;
}
.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.box{
    width: 50%;
}
.secciones{
    width: 80%;
    margin: auto;
    display: flex;
}
.seccionTotal{
    width: 25%;
    margin: auto;
    display: flex;
    align-items: center;
}
.seccion{
    width: 50%;
}
.puntos{
    width: 50%;
}
.btn{
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}