<ion-content>

	<h4>
		Ingrese el código suministrado por la secretaria.
	</h4>
	<ion-item>
		<ion-label position=floating>Inserte código</ion-label>
		<ion-input name="code" type=text [formControl]="codigoCtrl"></ion-input>
		<p *ngIf="codigoCtrl.errors && codigoCtrl.dirty">
			<small
				*ngIf="codigoCtrl.hasError('required') || codigoCtrl.hasError('maxlength') || codigoCtrl.hasError('minlength')">En
				este campo solo se permiten 5 caracteres alfanumericos</small>
		</p>
	</ion-item>

	<ion-button color=danger [disabled]="codigoCtrl.invalid" (click)="goToRegister($event)" expand="block">Validar
	</ion-button>
	<ion-button class="bton" color=danger (click)="dismiss()" fill="outline">Cancelar</ion-button>

</ion-content>