<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Requisitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 style="text-align: center;">Tabla de Calificación de Méritos</h1>
  <ion-title style="text-align: center;margin-bottom: 20px;margin-top: 20px;">Rendimiento Academico</ion-title>
  <div class="container">
    <form class="form" [formGroup]="rendimientoForm" (ngSubmit)=guardarRendmiento($event)>
      <div class="box">
        <ion-item>
          <ion-label position="floating">Nombre del requisito</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <div *ngFor="let errorMessage of errorsMessages.name">
          <ng-container *ngIf="nombre.hasError(errorMessage.type) && (nombre.dirty || nombre.touched)">
            <small class="errorsMessages">{{errorMessage.message}}</small>
          </ng-container>
        </div>
      </div>

      <div class="box">
        <ion-item>
          <ion-label position="floating">Puntuacion Maxima (%)</ion-label>
          <ion-input type="number" formControlName="point"></ion-input>
        </ion-item>
        <div *ngFor="let errorMessage of errorsMessages.puntos">
          <ng-container *ngIf="puntos.hasError(errorMessage.type) && (puntos.dirty || puntos.touched)">
            <small class="errorsMessages">{{errorMessage.message}}</small>
          </ng-container>
        </div>
      </div>
      <ion-button type="submit" [disabled]="!rendimientoForm.valid" color="danger">Agregar</ion-button>
    </form>

    <div class="seccionList">
      <div class="name">
        <ion-item color="danger">
          <ion-label>Nombre del requisito</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let rendimiento of listaRendi">
            <ion-label>{{rendimiento.nombre}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="pointMax" style="width: 40%;">
        <ion-item color="danger">
          <ion-label>Puntuación Máxima (%)</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let rendimiento of listaRendi">
            <ion-label>{{rendimiento.puntos}} %</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="btn">
        <ion-item color="danger">
          <ion-label>Quitar</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let rendimiento of listaRendi">
            <ion-button style="text-align: center;" expand="full" color="danger" (click)="eliminarRendimiento(rendimiento.id)">X
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <ion-text style="text-align: center;" color="medium"><h3>Porcentaje Total Rendimiento Academico: {{sumaTotalRendimiento}} %</h3></ion-text>
  </div>



  <ion-title style="text-align: center;margin-bottom: 20px;margin-top: 20px;">Experiencia General</ion-title>
  <div class="container">
    <form class="form" [formGroup]="reqOptionForm" (ngSubmit)=submit($event)>
      <div class="box">
        <ion-item>
          <ion-label position="floating">Nombre del requisito</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <div *ngFor="let errorMessage of errorsMessages.name">
          <ng-container *ngIf="name.hasError(errorMessage.type) && (name.dirty || name.touched)">
            <small class="errorsMessages">{{errorMessage.message}}</small>
          </ng-container>
        </div>
      </div>

      <div class="box">
        <ion-item>
          <ion-label position="floating">Puntos cada uno</ion-label>
          <ion-input type="number" formControlName="point"></ion-input>
        </ion-item>
        <div *ngFor="let errorMessage of errorsMessages.point">
          <ng-container *ngIf="point.hasError(errorMessage.type) && (point.dirty || point.touched)">
            <small class="errorsMessages">{{errorMessage.message}}</small>
          </ng-container>
        </div>

      </div>

      <div class="box">
        <ion-item>
          <ion-label position="floating">Maximos puntos acumulables</ion-label>
          <ion-input type="number" formControlName="pointMax"></ion-input>
        </ion-item>
        <div *ngFor="let errorMessage of errorsMessages.pointMax">
          <ng-container *ngIf="pointMax.hasError(errorMessage.type) && (pointMax.dirty || pointMax.touched)">
            <small class="errorsMessages">{{errorMessage.message}}</small>
          </ng-container>
        </div>

      </div>

      <ion-button type="submit" [disabled]="!reqOptionForm.valid" color="danger">Agregar</ion-button>
    </form>

    <div class="seccionList">
      <div class="name">
        <ion-item color="danger">
          <ion-label>Nombre del requisito</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let req of reqOptions">
            <ion-label>{{req.nombre}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="point">
        <ion-item color="danger">
          <ion-label>Puntos cada uno</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let req of reqOptions">
            <ion-label>{{req.punto}} puntos/certificado</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="pointMax">
        <ion-item color="danger">
          <ion-label>Maximos puntos acumulables</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let req of reqOptions">
            <ion-label>{{req.punto_max}} puntos</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="btn">
        <ion-item color="danger">
          <ion-label>Quitar</ion-label>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let req of reqOptions">
            <ion-button style="text-align: center;" expand="full" color="danger" (click)="deleteReqOption(req.id)">X
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <ion-text style="text-align: center;" color="medium"><h3>Porcentaje Total Experiencia General: {{sumaTotalExperiencia}} %</h3></ion-text>
    <div class="btns">
      <ion-buttons>
        <ion-button color="danger" (click)="goToHome()">Cancelar</ion-button>
      </ion-buttons>
      <ion-button color="danger" (click)="goToHome()">Guardar</ion-button>
    </div>
  </div>
</ion-content>