<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 style="text-align: center;">Tabla de Calificación de Conocimiento</h1>
<div class="container">
  <div class="secciones">
    <ion-list class="nombre">
      <ion-list-header color="danger">Temática</ion-list-header>
      <ion-item *ngFor="let tematica of listaDeTematicas">
        <ion-label>{{tematica.nombre}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="box" >
      <ion-list-header color="danger">Nota Maxima Permitida</ion-list-header>
      <ion-item *ngFor="let tematica of listaDeTematicas">
        <ion-label>{{tematica.porcentaje}} %</ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="box1">
      <ion-list-header color="danger">Nota Actual</ion-list-header>
      <ion-item *ngFor="let nota of listaDeNotas">
        <ion-label>{{nota.nota}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="box">
      <ion-list-header color="danger">Asignar Nota</ion-list-header>
      <form class="form" [formGroup]="notaTematicaForm" *ngFor="let tematica of listaDeTematicas">
        <ion-item>
          <ion-input type="number" formControlName="nota"></ion-input>
        </ion-item>
        <ion-button [disabled]="!notaTematicaForm.valid" (click)="asignarNota(tematica.id)"  color="medium">Asignar Nota</ion-button>
      </form>
    </ion-list>
  </div>
  <ion-text style="text-align: center;" color="medium"><h3>Nota Total de Usuario en Conocimiento  : {{notaTotalDeUsuario}} %</h3></ion-text>
  <div style="width: 20%;margin: 20px auto;">
    <ion-button (click)="goToPostulantes()" color="danger">Finalizar Evaluación</ion-button>
  </div>
</div>

</ion-content>
