.card{
    width: 70%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h3{
    margin: 10px 0 !important; 
}