<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{nombre_item}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title *ngIf="messageEmpty">No existen postulantes habilitados</ion-title>
  <ion-card class="card" mode="ios" color="medium"
            *ngFor="let usuario of listaDeUsuarios">
    <ion-text> <h2>{{usuario.first_name}} {{usuario.last_namep}} {{usuario.last_namem}}</h2></ion-text>
    <ion-button [routerLink]="ruta" (click)="goToEvaluation(usuario)" color="danger">Evaluar Postulante</ion-button>
  </ion-card>
</ion-content>
